.mainbg{
    -fx-background-color: #ecf3ff;
}
.button{
    -fx-background-color: #32527b;
    -fx-text-fill: #ffffab;

    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.progress-bar > .track {
    -fx-text-box-border:  #ecf3ff;
    -fx-control-inner-background:  #ecf3ff;

}
.trans{
    -fx-background-color: transparent;
}
.trans:hover{
    -fx-background-color: #ecf3ff;
}
#manageHbox{
    -fx-background-color: #cccccc;
}
.whitebg{
    -fx-background-color: #ffffab;
}
.cancel{
    -fx-background-color: #cfd2cd;
    -fx-text-fill: #32527b;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
/*.tab-label {*/
/*    -fx-content-display: top;*/
/*}*/
/*.tab-pane {*/
/*    -fx-tab-min-height: 50;*/
/*    -fx-tab-max-height: 50;*/
/*}*/